body {
    background-color: powderblue;
}

h1 {
    color: blueviolet;
}

p {
    color: rebeccapurple;
}

header {
    background-color: cadetblue;
    padding: 10px;
}

/* Optional: Custom styles for navigation */
.navbar {
    margin: 0;
    position: sticky;

}

.navbar form {
    display: flex;
}

.navbar-nav .nav-item .dropdown-menu {
    top: 100%; /* Ensure dropdown appears below the toggle */
    position: absolute;
}

.navbar-nav .nav-item:hover .dropdown-menu {
    display: block; /* Ensure dropdown appears below the toggle */
}

/* Style for dropdown menu items on hover */
.dropdown-menu a:hover {
    background-color: pink; /* Light background color on hover */
    color: black; /* Change text color on hover */
}

.img-style-thumbnail {
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 150px;
        }

.title-ul {
    list-style-type: none;


}

